.carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 25vw;
  padding: 0 $btn_padding_x * 2;

  &-content{
    width: 100%;
    overflow: hidden;
  }

  &-items {
    display: flex;
    flex-shrink: 0;
    max-width: 100%;
    transition: transform cubic-bezier(0.3, 1.4, 0.3, 1) 0.4s;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: calc($spacer / 2);
    min-width: calc(100% / var(--carousel_visible_count));
    max-width: calc(100% / var(--carousel_visible_count));
    padding: 0 $carousel_item_gap;
  }

  &-image {
    width: 100%;
    height: 30vw;
    max-height: 195px;
    object-fit: cover;
  }

  &-text {
    font-weight: 700;
  }

  &-btn {
    position: absolute !important;
    z-index: 2;
    &:first-child {
      left: 0;
      transform: translateX(calc(-100% + $btn_padding_x * 2));
    }

    &:last-child {
      right: 0;
      transform: translateX();
    }
  }
}