.notification{
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: $spacer;
  z-index: 10;
  bottom: $spacer;
  right: $spacer;
  max-height: 80vh;
  overflow: hidden auto !important;
  padding: $spacer;
  border-radius: $spacer;

  &::-webkit-scrollbar{
    width: 5px !important;
  }

  @keyframes notificationItemAnimation {
    from{
      transform: scale(.1, .1);
      transform-origin: right center;
    }
    to{
      transform: scale(1, 1);
      transform-origin: right center;
    }
  }

  &-item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $notification_item_padding;
    margin-top: auto;
    background-color: $light-gray;
    color: $dark;
    border-radius: $spacer;
    min-width: min-content;
    max-width: calc(350px - $spacer);
    pointer-events: all;
    box-shadow:   $notification_item_shadow;
    animation: notificationItemAnimation cubic-bezier(0.3, 1.2, 0.3, 1) .4s;

    &-title{
      width: 100%;
      font-weight: bold;
      margin: $spacer 0;
      text-transform: capitalize;
    }

    &-body{
      width: 100%;
    }

      &-content{
        text-align: justify;
      }

      &-badge{
        float: right;
        padding: $notification_badge_padding;
        margin: calc($spacer / 2);
        margin-top: -$spacer !important;
        background-color: $primary;
        color: contrastColor($primary);
        border-radius: $btn-border-radius;
        width: fit-content;
        text-align: center;
        vertical-align: middle;
        text-transform: capitalize;
      }

    @each $variant in map-keys($colors) {
      $color: map-get($colors, $variant );
      &-#{$variant}{
        @include notificationVariant($color);
      }
    }

  }

  &-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    color: $light;
  }
}